.content(class= titleLine.right ? "content--right" : "")
    .content__box
        span.content__title= titleLine.bold
        p.content__subTitle= titleLine.subold
    p.content__description= titleLine.text