.footer
    .container
        .footer__box-left
            p.footer__content-info 	&#169; Amazon LLC. All Rights Reserved
            ul.footer__main-block
                li.footer__main-item 
                    a(href="#") About
                li.footer__main-item 
                    a(href="#") Terms
                li.footer__main-item
                    a(href="#") Privacy
                li.footer__main-item
                    a(href="#") Contact
        .footer__box-left
            ul.footer__feedback-block
                li.footer__feedback-item
                    a(href="#").iconic.iconic--facebook
                li.footer__feedback-item
                    a(href="#").iconic.iconic--twit
                li.footer__feedback-item
                    a(href="#").iconic.iconic--youtube
                li.footer__feedback-item
                    a(href="#").iconic.iconic--ball
